@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<main id="main" class="main" style="padding-top:130px">
    <div class="clearfix"></div>

    <section class="content">
        <div class="container">
            <div class="payment row">
                <div class="height10"></div>
                <div class="panel panel-default">
                    <div class="panel-body text-center" style="height:150px">
                        <span style="color:#069304;font-size:20px ">Cám ơn bạn đã mua hàng trên ThichLaMua.Vn! Chúng tôi sẽ liên hệ với Bạn trong thời gian sớm nhất!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



