
<div id="form-search" class="grid_3 fl">
    <form action="/Product/Search" method="post">
        <input id="Keywords" name="Keywords" type="text" onblur="if(this.value=='') this.value='Tìm kiếm sản phẩm ...'" onfocus="if(this.value=='Tìm kiếm sản phẩm ...') this.value=''" value="Tìm kiếm sản phẩm ..." />
        @*<input type="image" src="index.html" />*@
    </form>
</div>
