<!DOCTYPE html>
<html>

<!-- Mirrored from vincyvn.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Apr 2017 16:10:04 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Thế Giới Giày Thể Thao</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,vietnamese,cyrillic-ext,cyrillic,latin-ext,greek,greek-ext' rel='stylesheet' type='text/css" />

    <link type="image/x-icon" href="favicon.ico" rel="icon" />


    @*<script type="text/javascript" src="~/js/jquery.min.js"></script>
        <link href="~/assets/css/navigation.css" rel="stylesheet" />
        <link href="~/css/reset.css" media="screen" rel="stylesheet" />
        <link href="~/css/style.css" media="screen" rel="stylesheet" />
        <link href="~/css/bootstrap.css" media="screen" rel="stylesheet" />
        <link href="~/css/font-awesome.min.css" media="screen" rel="stylesheet" />*@

    <script type="text/javascript" src="~/template/js/jquery.min.js"></script>
    <link href="~/template/assets/css/navigation.css" rel="stylesheet" />
    <link href="~/template/css/reset.css" media="screen" rel="stylesheet" />
    <link href="~/template/css/style.css" media="screen" rel="stylesheet" />
    <link href="~/template/css/bootstrap.css" media="screen" rel="stylesheet" />
    <link href="~/template/css/font-awesome.min.css" media="screen" rel="stylesheet" />

</head>
<body>
    <!--Menu-->
    @Html.Partial("_Menu")
    <!--/Menu-->

    <div class="clearfix"></div>

    <!--SlideShow-->
    @Html.Partial("_SlideShow")
    <!--/SlideShow-->
    <!--Body-->
    <main id="main" class="main">
        @RenderBody()
    </main>
    <!--/Body-->
    <!--Footer-->
    @Html.Partial("_Footer")
    <!--/Footer-->
    @*<script src="~/js/jquery-ui.js"></script>
        <script src="~/js/jquery.idTabs.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/library.js"></script>
        <script src="~/js/jquery.boxy.js"></script>*@

    <script src="~/template/js/jquery-ui.js"></script>
    <script src="~/template/js/jquery.idTabs.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/library.js"></script>
    <script src="~/template/js/jquery.boxy.js"></script>

</body>
<!-- Mirrored from vincyvn.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Apr 2017 16:13:41 GMT -->
</html>