<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Thế giới giày thể thao đa phong cách.</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,vietnamese,cyrillic-ext,cyrillic,latin-ext,greek,greek-ext' rel='stylesheet' type='text/css' />


    <script src="~/template/js/jquery.min.js"></script>
    <link href="/~template/css/default.css" rel="stylesheet" />
    <link href="/~template/assets/css/navigation.css" rel="stylesheet" />
    <link href="~/template/css/reset.css" rel="stylesheet" />
    <link href="~/template/css/style.css" rel="stylesheet" />
    <link href="~/template/css/bootstrap.css" rel="stylesheet" />
    <link href="~/template/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <!--Menu-->
    @Html.Partial("_Menu")
    <!--/Menu-->

    <!--Body-->
    <main id="main" class="main">
        <div class="clearfix"></div>
        @RenderBody()
    </main>
    <!--/Body-->
  
    <!--Footer-->
    @Html.Partial("_Footer")
    <!--/Footer-->

    <script src="~/template/assets/js/product.js"></script>
    <script src="~/template/assets/js/jquery.fancybox.js"></script>
    <script src="~/template/assets/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/template/js/jquery-ui.js"></script>
    <script src="~/template/js/jquery.idTabs.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/library.js"></script>
    <script src="~/template/js/jquery.boxy.js"></script>

</body>
<!-- Mirrored from vincyvn.com/sa-chanh-lemongrass-pd358 by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Apr 2017 16:27:10 GMT -->
</html>